<!DOCTYPE HTML>
<html>
  <head>
    <title>Tic-Tac-Toe</title>
    <link href="/css/tictactoe.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.5.min.js"></script>
    <script type="text/javascript" src="/js/tictactoe.js"></script>
  </head>
  <body>
    <div data-role="header">Tic Tac Toe</div>
    <div data-role="content">
      <div class="space">
        <div class="space-top" id="1"></div>
        <div class="space-top" id="2"></div>
        <div class="space-top" id="3"></div>
        <div class="space-mid" id="4"></div>
        <div class="space-mid" id="5"></div>
        <div class="space-mid" id="6"></div>
        <div class="space-bot" id="7"></div>
        <div class="space-bot" id="8"></div>
        <div class="space-bot" id="9"></div>
      </div>
    </div>
    <div data-role="footer">@jefflembeck</div>
  </body>
</html>
