<!DOCTYPE HTML>
<html>
  <head>
    <title>Tic-Tac-Toe</title>
    <link href="/css/tictactoe.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.5.min.js"></script>
    <script type="text/javascript" src="/js/tictactoe.js"></script>
  </head>
  <body>
    <div data-role="header" class="header">Tic Tac Toe</div>
    <div data-role="content" class="content">
      <p class="instructions" id="inst">Click boxes to play!</p>
      <div class="board">
        <div class="top left"      id="1"></div>
        <div class="top center"    id="2"></div>
        <div class="top right"     id="3"></div>
        <div class="middle left"   id="4"></div>
        <div class="middle center" id="5"></div>
        <div class="middle right"  id="6"></div>
        <div class="bottom left"   id="7"></div>
        <div class="bottom center" id="8"></div>
        <div class="bottom right"  id="9"></div>
      </div>
    </div>
    <div data-role="footer">by @jefflembeck</div>
  </body>
</html>
