.space {
  width: 100%;
}
.space > div {
  border-width: 1px;
  border-color: #000;
  width:        32%;
  height:       100px;
  display:      inline-block;
  text-align:   center;
  vertical-align: middle;
}
.top {
  border-bottom: solid;
}
.bottom {
  border-top:   solid;
}
.left {
  border-right: solid;
}
.right {
  border-left: solid;
}
