p.instructions {
  width:      100%;
  text-align: center;
}
.space {
  width: 100%;
}
.space > div {
  border-width: 3px;
  border-color: #000;
  width:        32%;
  height:       100px;
  display:      inline-block;
  text-align:   center;
  vertical-align: middle;
}
.top {
  border-bottom: groove;
}
.bottom {
  border-top:   groove;
}
.left {
  border-right: groove;
}
.right {
  border-left: groove;
}
